.intro {
  .tit-wr {
    display: flex;
    flex-direction: column;
  }

  .hi {
    opacity: 0;
    animation: fadeIn 2s forwards;
    @include hi;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .big-tit {
    display: flex;
    @include big-tit;
    @keyframes dash {
      0% {
        transform: skew(-30deg, 0deg) translateX(300%) scale(0.8);
        opacity: 1;
      }

      40% {
        transform: skew(10deg, 0deg) translateX(100%) scale(0.9);
      }

      60% {
        transform: skew(10deg, 0deg) translateX(-10px) scale(1.2);
      }

      100% {
        transform: translateY(0) scale(1);
        opacity: 1;
      }
    }

    #inner-text {
      position: relative;
      z-index: 1;
    }

    #inner-text.done-animating {
      animation: done-animating 200ms ease-in;
    }

    .letter {
      display: inline-block;
      font-size: 140px;
      letter-spacing: 5px;
    }

    .letter.animate {
      animation: dash 500ms ease-in forwards;
      opacity: 0;
    }
  }

  .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 64px;
    height: 64px;
    background: $white;
    opacity: 0;
    animation: appear 0.2s ease-in-out 1.5s forwards,
      moveUpAndDown 0.5s ease-in-out 1.5s forwards;

    @keyframes appear {
      to {
        opacity: 1;
      }
    }
    @keyframes moveUpAndDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
      100% {
        transform: translateY(0);
      }
    }

    img {
      width: 40px;
    }
  }
}
