// 변수 설정
$txtDefult-b: #212126;
$txtDefult-sub1: #57575b;
$txtDefult-w: #fff;

$primary: #006d31;
$bg: #f9f9f9;

$gray1: rgba(0, 0, 0, 0.1);
$gray2: rgba(0, 0, 0, 0.2);
$gray3: rgba(0, 0, 0, 0.5);

$font-size: 16px;
$font-family: "pretendard", sans-serif;
$font-family-pop: "Poppins", sans-serif;

// 반응형 미디어 쿼리
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1440px;

// layout
$hdH: 70px;
$ftH: 70px;
