@import "variables", "fonts", "mixins", "reset";
//---------------------------------------------------------------------------------
body {
  background: $bg;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: none;
  margin: 0 auto;
  background: $bg;
  min-width: 1440px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::selection {
  background: $primary;
  color: $white;
}
//---------------------------------------------------------------------------------
.inner {
  max-width: 1280px;
  margin: 0 auto;

  @media screen and (max-width: 1280px) {
    max-width: 768px;
  }

  @media screen and (max-width: 768px) {
    max-width: 328px;
  }
}
//---------------------------------------------------------------------------------
// #main {
//   padding: 0 5%;
// }
//---------------------------------------------------------------------------------
@import "main";
// 우선순위로 먹혀야 하기 때문에 밑으로 들어감
