@import "variables", "fonts", "mixins", "reset";
//---------------------------------------------------------------------------------
.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: none;
  margin: 0 auto;
  background: $bg;
}
//---------------------------------------------------------------------------------
.inner {
  max-width: 1280px;
  margin: 0 auto;

  @media screen and (max-width: 1280px) {
    max-width: 768px;
  }

  @media screen and (max-width: 768px) {
    max-width: 328px;
  }
}
//---------------------------------------------------------------------------------
#main {
  height: 100%;
  margin: 0 5%;
}
//---------------------------------------------------------------------------------
@import "main";
// 우선순위로 먹혀야 하기 때문에 밑으로 들어감
