@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url(../fonts/Poppins-Bold.ttf) format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url(../fonts/Poppins-Regular.ttf) format("woff");
}
@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard-Regular.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Schoolbell";
  src: url(../fonts/Schoolbell-Regular.ttf) format("woff");
  font-weight: 300;
  font-style: normal;
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 18px;
  line-height: 1.5;
  font-family: "pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #0e0e0e;
}

/* desktop */
@media screen and (max-width: 1280px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: none;
  margin: 0 auto;
  background: #f2f2f2;
}

::-moz-selection {
  background: #0066ff;
  color: #fff;
}

::selection {
  background: #0066ff;
  color: #fff;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .inner {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .inner {
    max-width: 328px;
  }
}

.sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.intro {
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.intro .left {
  width: 100%;
}
.intro .left .tit-wr {
  display: flex;
  flex-direction: column;
}
.intro .left .hi {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
  font-family: "Poppins";
  font-size: 46px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro .left .big-tit {
  display: flex;
  font-family: "Poppins";
  font-size: 140px;
}
@keyframes dash {
  0% {
    transform: skew(-30deg, 0deg) translateX(300%) scale(0.8);
    opacity: 1;
  }
  40% {
    transform: skew(10deg, 0deg) translateX(100%) scale(0.9);
  }
  60% {
    transform: skew(10deg, 0deg) translateX(-5px) scale(1);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
.intro .left .big-tit #inner-text {
  position: relative;
  z-index: 1;
}
.intro .left .big-tit #inner-text.done-animating {
  animation: done-animating 100ms ease-in;
}
.intro .left .big-tit #text-spot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.intro .left .big-tit .letter {
  display: inline-block;
  font-size: 140px;
  letter-spacing: 5px;
}
.intro .left .big-tit .letter.animate {
  animation: dash 300ms ease-in forwards;
  opacity: 0;
}
.intro .left .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  width: 64px;
  height: 64px;
  background: #fff;
  opacity: 0;
  animation: appear 0.2s ease-in-out 1.1s forwards, moveUpAndDown 0.5s ease-in-out 1.1s forwards;
}
@keyframes appear {
  to {
    opacity: 1;
  }
}
@keyframes moveUpAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.intro .left .img-box img {
  width: 40px;
}
.intro .left .txt-wr {
  display: flex;
  margin-top: 80px;
}
.intro .left .txt {
  width: 450px;
  opacity: 0;
  animation: appear 0.2s ease-in-out 1.6s forwards;
}
@keyframes appear {
  to {
    opacity: 1;
  }
}
.intro .left .profile {
  display: flex;
  margin-left: 300px;
  opacity: 0;
  animation: appear 0.2s ease-in-out 2s forwards;
}
@keyframes appear {
  to {
    opacity: 1;
  }
}
.intro .left .name-wr {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5px;
}
.intro .left .call-wr {
  margin-left: 64px;
}
.intro .left .call-wr .icon {
  font-size: 32px;
}
.intro .left .phone,
.intro .left .email {
  display: flex;
  align-items: center;
}
.intro .left .num,
.intro .left .addr {
  padding-left: 13px;
}
.intro .right {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.intro .right .arrow {
  color: #0066ff;
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  right: 80px;
  width: 65px;
  opacity: 0;
  animation: appear 0.2s ease-in-out 2.3s forwards;
}
@keyframes appear {
  to {
    opacity: 1;
  }
}
.intro .right .arrow .ar-ico {
  transform: rotate(220deg);
  transform-origin: center;
  position: absolute;
  top: -20px;
  right: -10px;
}
.intro .right .arrow .here {
  font-family: "Schoolbell";
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro .right .arrow span {
  display: block;
}
.intro .right nav {
  display: flex;
  gap: 100px;
  transform: rotate(90deg);
  opacity: 0;
  animation: appear 0.2s ease-in-out 2.3s forwards;
}
@keyframes appear {
  to {
    opacity: 1;
  }
}
.intro .right nav a {
  transition: all 0.3s;
}
.intro .right nav a:hover {
  color: #0066ff;
}

.ng {
  background: url("../../images/main/national.jpg") 50% 40%/100% no-repeat;
}
.ng .bg {
  height: 100%;
  background-color: rgba(255, 204, 0, 0.8);
  background-image: linear-gradient(to right, rgb(255, 204, 0), rgba(0, 0, 0, 0));
  padding: 0 10%;
}
.ng .left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ng .txt-wr .type {
  margin-bottom: 5px;
}
.ng .txt-wr .num {
  font-weight: 700;
}
.ng .txt-wr .txt {
  padding-left: 18px;
}
.ng .txt-wr .name {
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
}
.ng .txt-wr .exp {
  margin-bottom: 30px;
  width: 350px;
}
.ng .txt-wr .bold {
  width: 80px;
  display: inline-block;
}
.ng .goto-wr {
  margin-top: 138px;
  gap: 20px;
  display: flex;
}
.ng .goto-wr a {
  width: 60px;
  height: 60px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ng .goto-wr .fa-brands {
  font-size: 24px;
}/*# sourceMappingURL=comm.css.map */